@font-face {
  font-family: "Yu Gothic";
  src: url("../fonts/yu-gothic.eot");
  src: url("../fonts/yu-gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/yu-gothic.woff") format("woff"), url("../fonts/yu-gothic.woff2") format("woff2"), url("../fonts/yu-gothic.ttf") format("truetype"), url("../fonts/yu-gothic.svg#Yu Gothic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans CJK JP";
  src: url("../fonts/NotoSansCJKjp-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans CJK JP";
  src: url("../fonts/NotoSansCJKjp-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans CJK JP";
  src: url("../fonts/NotoSansCJKjp-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.page-service {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.service-banner {
  width: 100%;
  max-width: 144rem;
  height: 77.6rem;
  background-image: url("../../images/common/service-banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.service-banner__content {
  width: 100%;
  max-width: 112rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

.service-banner__content-title {
  color: #fff;
  font-weight: 600;
  font-size: 5.6rem;
  line-height: 5.6rem;
  max-width: 74.3rem;
}

.service-banner__content-desc {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.service-banner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 2rem;
  position: absolute;
  width: 100%;
  max-width: 112rem;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1rem;
  scrollbar-width: thin;
}

.service-banner__card {
  width: 20%;
  max-width: 21.12rem;
  padding: 2rem 2.4rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.service-banner__card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #386FFD;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 0;
}

.service-banner__card > * {
  position: relative;
  z-index: 1;
}

.service-banner__card:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.service-banner__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-content__title {
  color: #fff;
  font-size: 2.1rem;
  line-height: 5.6rem;
  font-weight: 700;
}

.card-content__desc {
  font-size: 1.3rem;
}